.header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.button {
  margin-left: 15px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #e6e6e6;
  border-color: #bbb;
}

.button:active {
  background-color: #cccccc;
  border-color: #999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: scale(0.97);
}
